:host {
  display: block;
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
  font-family: "Inter", sans-serif;
}

.filter-section {
  margin-bottom: 0.5rem;

  .section-title {
    font-size: 15px;
    font-weight: 500;
    color: #222;
    margin-bottom: 0.75rem;
  }

  .form-check {
    margin-bottom: 10px;

    .form-check-label {
      font-size: 14px;
      color: #333;
    }
  }
}

.search-input {
  position: relative;
  margin-bottom: 1rem;

  i {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 16px;
  }

  input {
    padding-left: 36px;
    font-size: 14px;
  }
}
